span.title, #slog {
    font-family: medula-one, sans-serif;
    font-size: 36px;
    color: #4488FF;
    padding-right: 20px;
}
#slog {
	text-align: center;
	font-size: 150px;
}

#linenumbers {
	position: absolute;
	top: 113px;
	left:290px;
	text-align:right;
}
.number {
	color: #ddd;
	font-family: monospace;
	margin-bottom: 5px;
}
line {
	color: #ddd;
	white-space:pre;
	margin-bottom:5px;
}
.out {
	font-size:14px;
	color: #ddd;
	margin: 4px;
	font-family: monospace;
}
div.header {
    padding-bottom: 4px;
    height:100px;
}

.code {
    font-family: ubuntu-mono, monospace;
}
#lb {
	text-align:center;
}
.login-link-text {
	color: #DDD;
}
#login-buttons {
	width: calc(100% - 20px);
}
#login-dropdown-list {
	width: 100%;
	left: -3px;
	top: 0px;
}
html {
	height:100%;
}
body {
    height: 100%;
    overflow-y: hidden;
    background: #111111;
    padding-bottom: 10px;
    
}

span.filepath {
    font-family: ubuntu-mono;
    font-size: 24px;
    color: #AAAAAA;
}

div.options {
    height: 32px;
    padding: 2px 0px 2px 20px;
    margin-bottom: 2px;
    padding-bottom: 4px;
    border-radius: 4px;
    border: 1px #DDD solid;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 50px;
    width: calc(100% - 38px);
    display: block;
}

div.options span {
    padding: 0px 4px;
}

img.button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #111111;
    border-radius: 0px;
    border-top: 1px solid #080808;
    border-left: 1px solid #080808;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
}

img.button:link {
    background: #111111;
    border-radius: 0px;
    border-top: 1px solid #080808;
    border-left: 1px solid #080808;
    border-right: 1px solid #181818;
    border-bottom: 1px solid #181818;
}

img.button:hover {
    background: #181818;
    border-radius: 0px;
    border-top: 1px solid #080808;
    border-left: 1px solid #080808;
    border-right: 1px solid #282828;
    border-bottom: 1px solid #282828;
}
img:active {
	opacity: .5;
}
img.button:active {
    background: #080808;
    border-top: 1px solid #111111;
    border-left: 1px solid #111111;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

div.footer {
    position: absolute;
    bottom: 0px;
    height: 20px;
    font-family: actor, sans-serif;
    color: #FFFFFF;
    padding-bottom: 2px;
}

div.pad {
    width: calc(100% - 290px);
    height: calc(100% - 136px);
    border: 1px #DDD solid;
    background: #222;
    padding: 4px;
    margin-left:4px;
    position:absolute;
    border-radius: 4px;
    top: 98px;
    left: 270px;
    display: block;
}

div.line-numbers {
    height: calc(100% + 8px);
    background: #666666;
    color: #BBBBBB;
    float: left;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: -4px;
}

div.line-number {
    text-align: right;
    padding: 0px 4px 0px 4px;
    margin: 0px;
    color: #CCCCCC;
}

div.np {
    padding: 0px;
}

div.fl {
    float: left;
}

div.edit-dot {
    color: #666666;
}

div.code-input {
    text-align: left;
    margin: 0px;
    color: #EEEEEE;
    padding-left: 8px;
}

div.line-number-divider {
    width: 0px;
    height: calc(100% - 127px);
    border-right: 1px #DDD solid;
    position: absolute;
    left: 320px;
    top: 98px;
}

div.text-wrap {
    position: relative;
    z-index: 2;
}

div.file-browser {
    width: 250px;
    height: calc(100% - 136px);
    left: 10px;
    border: 1px #DDD solid;
    background: #222;
    padding: 4px 0px 4px 4px;
    border-radius: 4px;
    display: block;
    top: 98px;
    position: absolute;
}

div.line {
    height: 20px;

}
#content {
	margin-left:50px;
	margin-top:10px;
}
